@import "~foundation-sites/scss/foundation";
@import "./mixins";
@import "./settings";
@import "./fonts";

$font-stack: "Rubik", "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial,
  sans-serif;
$primary-bg-color: #fefefe;
$primary-text-color: #121212;
$secondary-color: rgba(255, 255, 255, 0.6);

html,
body {
  box-sizing: border-box;
  font-feature-settings: "liga" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $primary-bg-color;
  box-sizing: border-box;
  color: $primary-text-color;
  margin: 0;
  min-width: 320px;
  scrollbar-color: $scrollbar $scrollbar-bg;
  scrollbar-width: thin;
  @include font($font-stack);
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-block-end: 0;
  margin-block-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  text-rendering: optimizeLegibility;
  @include font($font-stack);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.grid-container {
  width: 100%;
}

/* For autolink headers */
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover {
    .post-content-header-link {
      color: $darker;
    }
  }
}

.post-content-header-link {
  &:hover,
  &:focus {
    color: $darker;
  }

  &:active {
    color: $dark;
  }
  @include breakpoint(large up) {
    color: $light-gray;
    font-size: 0.8em;
    margin-left: -1.4em;
    margin-right: 0.4em;
  }
  @include breakpoint(medium down) {
    color: $light-gray;
    font-size: 0.8em;
    margin-right: 0.2em;
  }
}

@include foundation-everything;
