@import "../styles/global";

footer,
header {
  @include flex;
  @include flex-align(center, middle);
}

footer {
  @include margin(1, null, 1, null);
}

header {
  background-color: rgb(250, 250, 250);
  @include margin(null, null, 2, null);
}

main {
  flex-grow: 1;
}

.header-content {
  padding: 5vw 2vw 3vw;
}

.header-logo {
  height: 6rem;
  padding-bottom: 1rem;
  width: auto;
}

.site-description {
  font-size: 1.5rem;
  font-weight: 100;
}

.content {
  min-height: 100vh;
  overflow: auto;
}
