@import "../styles/global";

footer,
header {
  @include flex;
  @include flex-align(center, middle);
}

footer {
  @include margin(5, null, 1, null);
}

header {
  background-color: $secondary-color;
  @include margin(null, null, 2, null);
}

main {
  flex-grow: 1;
}

.header-content {
  padding: 5vw 2vw 3vw;
}

.header-logo {
  height: 128px;
  margin-bottom: 1rem;
  width: auto;
}

.site-description {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
}

.content {
  min-height: 100vh;
  overflow: auto;
}
