@import "../styles/global";

$grid-margin-gutter-half: map-get($map: $grid-margin-gutters, $key: "medium")/2;

.post-card {
  border: 1px solid $dark;
  box-shadow: 4px 4px $dark;
  transition: 0.08s ease;

  &:hover {
    box-shadow: 8px 8px $dark;
    margin: (-1+$grid-margin-gutter-half) (1+$grid-margin-gutter-half) (1+$grid-margin-gutter-half) (-1+$grid-margin-gutter-half);
  }

  &-content {
    padding: 1rem;
  }

  &-title {
    color: $primary-text-color;
    font-weight: 500;
    text-decoration: none;
  }

  &-excerpt {
    color: $darker;
    margin-bottom: 0;
    text-decoration: none;
  }

  &-tag {
    color: $primary-color;
    font-size: $small-font-size;
    font-weight: 500;
    margin-bottom: 0;
    text-decoration: none;
    text-transform: uppercase;
  }
}
